<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.howdy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Howdy"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".PesquisaActivity"
            android:exported="false" />
        <activity
            android:name=".CriarPostagensActivity"
            android:exported="false" />
        <activity
            android:name=".ComentariosActivity"
            android:exported="false" />
        <activity
            android:name=".ConfiguracaoActivity"
            android:exported="false" />
        <activity
            android:name=".RankingActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroIncompletoActivity"
            android:exported="false"
            android:label="@string/title_activity_cadastro_incompleto"
            android:theme="@style/Theme.Howdy.NoActionBar" />
        <activity
            android:name=".view.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".view.paginaDePostagem"
            android:exported="false" />
        <activity
            android:name=".view.CodigoDeRecuperacao"
            android:exported="false" />
        <activity
            android:name=".view.RecuperarSenha"
            android:exported="false" />
        <activity
            android:name=".view.Login"
            android:exported="false" />
        <activity
            android:name=".view.InicioAssinatura"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>